<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>upgradeHealth</key>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>cost</key>
		<integer>0</integer>
	</dict>
	<key>upgradeFireRate</key>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>cost</key>
		<integer>0</integer>
	</dict>
	<key>upgradeMoveSpeed</key>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>cost</key>
		<integer>0</integer>
	</dict>
	<key>upgradePower</key>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>cost</key>
		<integer>0</integer>
	</dict>
	<key>upgradeRotSpeed</key>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>cost</key>
		<integer>0</integer>
	</dict>
	<key>projectilePower</key>
	<dict>
		<key>amount</key>
		<integer>6</integer>
		<key>cost</key>
		<integer>20</integer>
	</dict>
	<key>projectileFireRate</key>
	<dict>
		<key>amount</key>
		<integer>3</integer>
		<key>cost</key>
		<integer>33</integer>
	</dict>
	<key>projectileMoveSpeed</key>
	<dict>
		<key>amount</key>
		<integer>50</integer>
		<key>cost</key>
		<integer>33</integer>
	</dict>
	<key>projectileUnstoppable</key>
	<dict>
		<key>amount</key>
		<integer>12</integer>
		<key>cost</key>
		<integer>11</integer>
	</dict>
	<key>projectileDarkMatter</key>
	<dict>
		<key>amount</key>
		<integer>9</integer>
		<key>cost</key>
		<integer>2</integer>
	</dict>
	<key>Score</key>
	<integer>3000</integer>
	<key>Scrap</key>
	<integer>0</integer>
</dict>
</plist>
