<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level 1</key>
	<dict>
		<key>tickdelay</key>
		<integer>20</integer>
		<key>ticks</key>
		<array>
			<array>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>spawnx</key>
					<integer>160</integer>
					<key>sideways</key>
					<true/>
					<key>lowerxlimit</key>
					<integer>60</integer>
					<key>higherxlimit</key>
					<integer>260</integer>
					<key>ylimit</key>
					<integer>150</integer>
					<key>movesleft</key>
					<true/>
				</dict>
			</array>
			<array>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>spawnx</key>
					<integer>130</integer>
					<key>sideways</key>
					<true/>
					<key>lowerxlimit</key>
					<integer>30</integer>
					<key>higherxlimit</key>
					<integer>230</integer>
					<key>ylimit</key>
					<integer>130</integer>
					<key>movesleft</key>
					<true/>
				</dict>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>spawnx</key>
					<integer>190</integer>
					<key>sideways</key>
					<true/>
					<key>lowerxlimit</key>
					<integer>90</integer>
					<key>higherxlimit</key>
					<integer>290</integer>
					<key>ylimit</key>
					<integer>130</integer>
					<key>movesleft</key>
					<true/>
				</dict>
			</array>
			<array>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>spawnx</key>
					<integer>100</integer>
					<key>sideways</key>
					<true/>
					<key>lowerxlimit</key>
					<integer>0</integer>
					<key>higherxlimit</key>
					<integer>210</integer>
					<key>ylimit</key>
					<integer>110</integer>
					<key>movesleft</key>
					<true/>
				</dict>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>spawnx</key>
					<integer>210</integer>
					<key>sideways</key>
					<true/>
					<key>lowerxlimit</key>
					<integer>110</integer>
					<key>higherxlimit</key>
					<integer>320</integer>
					<key>ylimit</key>
					<integer>110</integer>
					<key>movesleft</key>
					<true/>
				</dict>
			</array>
		</array>
	</dict>
</dict>
</plist>
